<%= render 'pages/home' unless user_signed_in? %>

<div id="pins" class="transitions-enabled justify">
  <% @pins.each do |pin| %>
    <div class="requests-view">
      <div class="box panel panel-default">
        <%= link_to get_image(pin.image.url(:medium)), pin %>
        <div class="panel-body">
            <%= simple_format(format_output(pin.description))%>
          <b>Location:</b> 
            <%= simple_format(format_output(pin.location))%>
          <b>Phone #:</b> 
            <%= simple_format(format_output(pin.user.phone)) %>
          <b>Posted by:</b> 
            <i><%= simple_format(format_output(pin.user.name)) if pin.user %></i>
          <b>On: </b> 
            <p><%= pin.created_at.strftime("%a, %b, %g at %u:%M %P UTC") %> </p>
          <% if current_user && pin.user == current_user %>
            <div class="actions">
              <%= link_to edit_pin_path(pin) do %>
                <span class="glyphicon glyphicon-pencil"></span>
                Edit
              <% end %>
              ||
              <%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span class="glyphicon glyphicon-remove"></span>
                Cancel
              <% end %>
            </div>
          <% end %>
          
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="center">
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>
