<%= link_to 'Back', pins_path %>

<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-tertiary">
		<div class="panel-heading center">
			<%= image_tag @pin.image.url(:medium) %>
		</div>
		<div class="panel-body center">
		<h4><%= @pin.description %></h4>
		<p><b>Location:</b> <%= @pin.location %></p>
		<p><b>Phone #:</b> <%= @pin.user.phone %></p>
		<p><b>Posted by:</b> <i><%= @pin.user.name if @pin.user %></i></p>
		<p><b>On: </b> <%= @pin.created_at.strftime("%a, %b, %g at %u:%M %P UTC") %> </p>
		<% if @pin.user == current_user %>
			<%= link_to edit_pin_path(@pin) do %>
        <span class="glyphicon glyphicon-edit"></span>
        Edit
      <% end %>
		<% end %>
		</div>
	</div>

</div>