<%= render 'pages/home' unless user_signed_in? %>

<h4>
  <h3>
  <span class="label label-default" style="margin-left: 1%">Unfulfilled requests now:</span>
  </h3>
</h4>

<div id="requests" class="transitions-enabled justify">

  <% @requests.each do |request| %>
    <div class="requests-view justify">
      <div class="box panel panel-default jusify">
        <div class="panel-body">

          <div class="panel-item">
            <%= simple_format(format_output(request.description))%>
          </div>
          <table>
          <tr>
            <th>Location: </th>
            <td><%= request.location %></td>
          </tr>
          
          <tr>
            <th>Asker: </th>
            <td>
              <div class="media-left">
                <%= gravatar_for request.user, 40, request.user.name %>
              </div>
            </td>
          </tr>
          
          <tr>
            <th></th>
            <td><%= request.user.name if request.user %></td>
          </tr>
          <tr>
          <th>Group: </th>
          <td>
          <% unless Group.find_by(id: request.group_id).nil? %> 
            <%= link_to Group.find_by(id: request.group_id).name, Group.find_by(id: request.group_id) %>
          <% end %>
            </td>
          </tr>
          </table>
          
          <div class="panel-item">
            <p><%= distance_of_time_in_words(Time.now(), request.created_at) %> ago</p>
          </div>

          <% if current_user && request.user == current_user %>
            <div class="actions panel-item">
              <%= link_to edit_request_path(request) do %>
                <span class="glyphicon glyphicon-pencil"></span>
                Edit
              <% end %>
              ||
              <%= link_to request, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span class="glyphicon glyphicon-remove"></span>
                Remove
              <% end %>
            </div>
          <% else %>
          <div class="panel-item">
              <%= link_to 'Send message', new_message_path(to: request.user.id), class: 'btn btn-primary btn-sm', style: "text-align" %>
          </div>
          <% end %>

<!--           # Will show if the request is not the current_user's -->
          <% if current_user && request.user != current_user %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="center">
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>
