<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
			<div id="show-back-button">
				<%= link_to requests_path do %>
				<span class="glyphicon glyphicon-chevron-left"></span>
				Back
				<% end %>
			</div>

			<div class="panel-heading center">
				<%= get_image(@request.image.url(:medium)) %>
			</div>

			<div class="panel-body">
				<h4><%= @request.description %></h4>
				<p><b>Location:</b> <%= @request.location %></p>
				<p><b>Posted by:</b> <i><%= @request.user.name if @request.user %></i></p>
				<p><b>On: </b> <%= @request.created_at.strftime("%B %-d %Y, %H:%l %p") %> </p>

				<% if @request.user == current_user %>
					<div class="actions">
						<%= link_to edit_request_path do %>
						<span class="glyphicon glyphicon-pencil"></span>
						Edit
						<% end %>
						||
						<%= link_to @request, method: :delete, data: { confirm: 'Are you sure?' } do %>
						<span class="glyphicon glyphicon-remove"></span>
						Cancel
						<% end %>
					</div>
					<% else %>
						<%= link_to 'Send message', new_message_path(to: request.user.id), class: 'btn btn-default btn-sm' %>
				<% end %>

			</div>
		</div>
	</div>
</div>