<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
			<div id="show-back-button">
				<%= link_to requests_path do %>
				<span class="glyphicon glyphicon-chevron-left"></span>
				Back
				<% end %>
			</div>

<!-- 			<div class="panel-heading center">
			</div> -->

			<div class="panel-body">
          <table>
          <tr>
          	<h4><%= @request.description %></h4>
          </tr>
          <tr>
            <th>Location: </th>
            <td><%= @request.location %></td>
          </tr>
          
          <tr>
            <th>Asker: </th>
            <td>
              <div class="media-left">
                <%= gravatar_for @request.user, 40, @request.user.name %>
              </div>
            </td>
          </tr>
          
          <tr>
            <th></th>
            <td><%= @request.user.name if @request.user %></td>
          </tr>
          <tr>
          <th>Group: </th>
                      <td>
              <% unless Group.find_by(id: @request.group_id).nil? %> 
            		<%= link_to Group.find_by(id: @request.group_id).name, Group.find_by(id: @request.group_id) %>
          		<% end %>
          	</td>
          </tr>
          </table>
				<p><b>On: </b> <%= @request.created_at.strftime("%B %-d %Y, %H:%l %p") %> </p>

				<% if @request.user == current_user %>
					<div class="actions">
						<%= link_to edit_request_path do %>
						<span class="glyphicon glyphicon-pencil"></span>
						Edit
						<% end %>
						||
						<%= link_to @request, method: :delete, data: { confirm: 'Are you sure?' } do %>
						<span class="glyphicon glyphicon-remove"></span>
						Remove
						<% end %>
					</div>
					<% else %>
						<%= link_to 'Send message', new_message_path(to: @request.user.id), class: 'btn btn-primary btn-sm' %>
				<% end %>

			</div>
		</div>
	</div>
</div>